<%= form_for @student do |f| %>
<p>
<%= f.label "name" %>
<%# binding.pry %>
<%= f.text_field :name, @student.name %>
<%= binding.pry %>
</p>

<p>
<%= f.label "hometown" %>
<%= f.text_field :hometown, @student.hometown %>
</p>

<p>
<%= f.label "birthday" %>
<%= f.text_field :birthday, @student.birthday %>
</p>

<%= f.submit %>
<% end %>

